# ALIASES
# All command aliases should be defined here.

if ls --color > /dev/null 2>&1; then
    color_flag="--color";
else
    color_flag="-G";
fi;

# Filesystem
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~/"
alias ~s="cd ~/Sites"
alias mv="mv -v"
alias rm="rm -i -v"
alias cp="cp -v"
alias fs="stat -f \"%z bytes\""

# Networking
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias dig="dig +nocmd any +multiline +noall +answer"

# Shortcuts
alias g="git"
alias v="vim"
alias l="ls -FlAhp ${color_flag}"
alias s="grep --color=auto"
alias k9="kill -9"
alias psa="ps aux"
alias tailf="tail -f"
alias where="which"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> SSH pub key copied to clipboard.'"

# Git
alias ga="git add"
alias gaa="git add --all"
alias gac="git add --all && git commit"
alias gap="git add -p"
alias gau="git add -u"
alias gb="git branch"
alias gbd="git branch -d"
alias gbl="git blame"
alias gbls="git blame --stats"
alias gc="git commit"
alias gca="git commit --amend"
alias gcv="git commit --verbose"
alias gco="git checkout"
alias gcob="git checkout -b -t"
alias gcom="git checkout master"
alias gd="git diff"
alias gdh="git diff HEAD"
alias gdc="git diff --cached"
alias gds="git diff --staged"
alias gf="git fetch"
alias gfr="git fetch && git rebase"
alias gl="git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=short --all"
alias glg="git log --decorate --oneline --graph --date-order --all"
alias gll="gl --branches --remotes"
alias gm="git merge --no-ff"
alias gpl="git pull --prune"
alias gplr="git pull --prune --rebase"
alias gplm="git pull --rebase origin master"
alias gr="git rm"
alias gs="scmpuff_status"
alias gst="git stash"
alias gstl="git stash list"
alias gstp="git stash pop"
alias gstd="git stash drop"
alias guix="git update-index --chmod=+x"
