# ALIASES
# All command aliases should be defined here.

# Filesystem
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~/"
alias ~s="cd ~/Sites"
alias ~ssh="cd ~/.ssh"
alias ~d="cd ~/Desktop"
alias ~df="cd ~/.dotfiles"
alias ~dl="cd ~/Downloads"
alias mv="mv -v"
alias rm="rm -i -v"
alias cp="cp -v"
alias fs="stat -f '%z bytes'"

# Networking
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias dig="dig +nocmd any +multiline +noall +answer"

# Shortcuts
alias g="git"
alias v="vim"
alias l="ls -lahpFG"
alias k9="kill -9"
alias psa="ps aux"
alias tlf="tail -f"
alias grep="grep --color=auto"
alias where="which"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> SSH pub key copied to clipboard.'"

# Git
alias ga="git add"
alias gaa="ga --all"
alias gac="ga --all && git commit"
alias gap="ga -p"
alias gau="ga -u"
alias gb="git branch"
alias gba="gb -a"
alias gbd="gb -d"
alias gbdf="gb -D"
alias gbD="gb -D"
alias gbm="gb -m"
alias gbl="git blame"
alias gbls="gbe --stats"
alias gc="git commit"
alias gcm="gc -m"
alias gca="gc --amend"
alias gcv="gc --verbose"
alias gco="git checkout"
alias gcob="gco -b"
alias gcot="gco -t"
alias gcom="gco master"
alias gce="git clean"
alias gcef="gce -fd"
alias gcl="git clone"
alias gd="git diff --"
alias gdh="git diff HEAD"
alias gdc="git diff --cached --"
alias gds="git diff --staged --"
alias gf="git fetch"
alias gfa="gf --all"
alias gfr="gf && git rebase"
alias gl="git log --pretty=format:'%Cred[%h]%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --date=short --all"
alias gll="gl --branches --remotes"
alias glg="git log --decorate --oneline --graph --date-order --all"
alias gm="git merge --no-ff"
alias gmff="git merge --ff"
alias gmv="git mv"
alias gpl="git pull --prune"
alias gplr="gpl --rebase"
alias gplo="gplr origin"
alias gplm="git fetch --prune && git pull --rebase origin master"
alias gps="git push"
alias gpsf="gps -f"
alias gpst="gps --tags"
alias gpso="gps origin"
alias gpsm="gpso master"
alias gr="git remote -v"
alias grm="git rm"
alias grb="git rebase"
alias grba="grb --abort"
alias grbc="grb --continue"
alias grbi="grb -i"
alias grs="git reset --"
alias grsh="git reset --hard"
alias grsd="git reset HEAD~"
alias gs="scmpuff_status" # Most important!
alias gso="git status"
alias gss="gso -s"
alias gst="git stash"
alias gsta="gst apply"
alias gstl="gst list"
alias gstp="gst pop"
alias gstd="gst drop"
alias gt="git tag"
alias gtd="gt -d"
alias gtf="gt -f"
alias guix="git update-index --chmod=+x"

# Vagrant
alias vd="vagrant destroy"
alias vdn="vagrant halt"
alias vh="vagrant halt"
alias vs="vagrant status"
alias vsp="vagrant suspend"
alias vssh="vagrant ssh"
alias vup="vagrant up"
alias vr="vagrant reload"
alias vrp="vr --provision"
alias vrm="vagrant resume"
alias vp="vagrant provision"
