# EXPORTS
# All configuration related to exports should be defined here.

export PATH="$HOME/bin:/usr/local/sbin:$PATH";
export TERM=xterm-256color
export EDITOR="vim" # atom
export HISTCONTROL=ignorespace:ignoredups

# Terminal
# ANSI: http://misc.flogisoft.com/bash/tip_colors_and_formatting
# Prompt: http://www.cyberciti.biz/tips/howto-linux-unix-bash-shell-setup-prompt.html
export PS1="\e[95m[\t]\e[0m \e[96m\u\e[0m:\e[92m\W\e[0m \e[1;93m>\e[0m "
export CLICOLOR=1
export LSCOLORS=gxfxexcxbxdxdxabaBagaG

# Languages
export NODE_ENV=development
export REACT_ENV=development
