[user]
    name = Miles Johnson
    email =
[core]
    editor = vim
    excludesFile = ~/.gitignore_global
    whitespace = space-before-tab,trailing-space
    filemode = false
    precomposeunicode = true
    # Make `git rebase` safer on OSX: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    trustctime = false
    # Use inline word diffs: <https://www.viget.com/articles/dress-up-your-git-diffs-with-word-level-highlights>
    pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
    sparseCheckout = true
[push]
    default = simple
    followTags = true
[pull]
    ff = false
[rerere]
    enabled = true
[color]
    ui = always
    diff = auto
    grep = auto
    pager = true
    status = auto
    branch = auto
[color "diff"]
    commit = green
    meta = yellow
    frag = cyan
    old = red
    new = green
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[help]
    autoCorrect = true
[merge]
    log = true
[mergetool]
    prompt = false
    keepBackup = false
[diff]
    renames = copies
    indentHeuristic = true
    compactionHeuristic = true
[difftool]
    prompt = false
[fetch]
    recurseSubmodules = on-demand
[log]
    decorate = full
[status]
    showUntrackedFiles = all
    submoduleSummary = true
[apply]
    whitespace = fix
[remote "origin"]
    prune = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[protocol]
    version = 2
[pager]
    branch = false
