"*":
  "atom-beautify":
    css:
      end_with_newline: true
    general:
      _analyticsUserId: "ae6ec7f1-ce96-45db-bf73-10e2bcf0d7e6"
  "autocomplete-plus": {}
  autosave:
    enabled: true
  caniuse:
    useAccessibleColors: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "MagicPython"
      "docblockr"
      "haskell-grammar"
      "autocomplete-ruby"
      "linter-ui-default"
    ]
    projectHome: "~/Sites/"
    telemetryConsent: "limited"
  docblockr:
    return_tag: "@returns"
  editor:
    backUpBeforeSaving: true
    invisibles:
      cr: "↩"
      eol: "↵"
      tab: "⟶"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "2bf789d1-69e6-8abe-aec6-633f0f274810"
  "file-icons": {}
  "find-and-replace":
    focusEditorAfterSearch: true
    projectSearchResultsPaneSplitDirection: "right"
  fonts: {}
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    highlightBackground: true
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
    ]
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-sass-lint":
    globalNodePath: "/usr/local"
    noConfigDisable: true
    resolvePathsRelativeToConfig: true
  "linter-ui-default": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-buck":
      compileErrorDiagnostics: false
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-node": {}
    "nuclide-debugger-php": {}
    "nuclide-definition-preview": {}
    "nuclide-diagnostics-ui": {}
    "nuclide-diff-view":
      shouldDockPublishView: false
    "nuclide-file-tree":
      showOpenFiles: false
    "nuclide-flow":
      canUseFlowBin: true
      enableStructuredTypeHints: true
      warnOnNotInstalled: false
    "nuclide-hack": {}
    "nuclide-health":
      toolbarJewel: "CPU"
    "nuclide-hg-repository":
      enableDiffStats: true
    "nuclide-home":
      showHome: false
    "nuclide-react-native": {}
    "nuclide-related-files": {}
    use:
      "nuclide-adb-logcat": false
      "nuclide-adb-sdb": false
      "nuclide-arcanist": false
      "nuclide-blame-provider-hg": false
      "nuclide-buck": false
      "nuclide-buck-ios": false
      "nuclide-clang": false
      "nuclide-context-view": false
      "nuclide-ctags": false
      "nuclide-debugger": false
      "nuclide-debugger-iwdp": false
      "nuclide-debugger-native": false
      "nuclide-debugger-node": false
      "nuclide-debugger-php": false
      "nuclide-deep-link": false
      "nuclide-hack": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-hhvm": false
      "nuclide-home": false
      "nuclide-http-request-sender": false
      "nuclide-ios-simulator-logs": false
      "nuclide-language-hack": false
      "nuclide-language-reason": false
      "nuclide-objc": false
      "nuclide-ocaml": false
      "nuclide-python": false
      "nuclide-remote-atom": false
      "nuclide-remote-projects": false
      "nuclide-swift": false
  "one-dark-ui": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
".ansi.text":
  editor:
    softWrapAtPreferredLineLength: true
